{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}

  <h2>Merci de renseigner les éléments du formulaire</h2>

  <ul>
       <li>
        formulaire
      </li>
  
      <li>Pas (encore !) de formulaire</li>
  </ul>

{% endblock %}