{% extends "GEFORPlatformBundle::layout.html.twig" %}




{% block ocplatform_body %}

	

	 {% for message in app.session.flashbag.get('notice') %}

        <p>Message flash : {{ message }}</p>

      {% endfor %}

  <h2>Merci de renseigner les éléments du formulaire</h2>





      {{ form(form) }}
      calendrier
  
      


{% endblock %}

