{% extends "GEFORPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}

	{{ listErrors }}


	 {% for message in app.session.flashbag.get('notice') %}

        <p>Message flash : {{ message }}</p>

      {% endfor %}

  <h3>Merci de renseigner les éléments du formulaire</h3>





      {{ form(form) }}
    
      


{% endblock %}

