
{% for a in list %}
  
            <table>        
              <tr class="bdd">          
                <td class="bdd">{{ a.date|date('Y-m-d') }}</td>
                <td class="bdd">{{ a.prenom }}</td>
              </tr>
            </table>
  
{% endfor %}
</ul>