{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}


{% extends "GEFORPlatformBundle::layout.html.twig" %} 


{% block body %}


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}

  {% if error %}

    <div class="alert alert-danger">{{ 'Il y a une erreur dans la saisir de votre mote de passe ou de votre identifiant, veuillez reessayer' }}</div>

  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

  <form action="{{ path('login_check') }}" method="post">

    <legend>Se connecter</legend>

    <label for="username">Identifiant :</label>

    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />

    


    <label for="password">Mot de passe :</label>

    <input type="password" id="password" name="_password" class="form-control"/>

    <br />

    <button class="btn btn-default" type="submit"/><span class="glyphicon glyphicon-ok"></span> Connexion </button>



  </form>
  


{% endblock %}