{# src/GEFOR/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Gestion des inscriptions en ligne - {{ parent() }}
{% endblock %}

{% block body %}

   {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Tableau administrateur des inscriptions</h1>
  
    
  <hr>


  
  {% block ocplatform_body %}


  	
  {% endblock %}



{% endblock %}