<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="{{ asset('asset/gefor.css') }}" type="text/css" media="all">


	<title>test</title>

</head>

<div class="ali">vous êtes bien connecté ! </div>

<body>


</body>
</html>



